{% extends "base.html.twig" %}
{% block content %}

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
<!-- CART BUTTON AND LANG -->
<ul id="cart-list" class="borderBottomHeader">
<li data-toggle="modal" data-target="#myModal" id="myfkingmodal" class="hidden-xs">
<div class="social-flag">
<img src="{{asset ('img/facebook.png')}}" alt="facebook" id="facebook">
</div>
</a>
</li>
<li>
<a href="https://twitter.com/IntouchBiz_" target="_blank">
<div class="social-flag">
<img src="{{asset ('img/twitter.png')}}" alt="twitter" id="twitter">
</div>
</a>
</li>
<li>
<a href="https://plus.google.com/u/0/111192249106908035114" target="_blank">
<div class="social-flag">
<img src="{{asset ('img/youtube.png')}}" alt="googleplus" id="googleplus">
</div>
</a>
</li>

</ul>
</div>
</div>
</div>
</header>
<div class="container-fluid">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div id="carousel-generic" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="item active">
<div class="homepage-hero-module imgSlider">
<div class="video-container">
<div class="filter"></div>
<div style="background-color:rgba(33, 64, 154, 0.65);position:absolute; width:100%; height:100%;z-index:9"></div>    
<video autoplay loop class="fillWidth">
<source alt="rendimento mensal garantido" src="{{asset('video/Mock-up.mp4')}}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
<source alt="rendimento mensal garantido" src="{{asset('video/Mock-up.m4v')}}" type="video/m4v" />Your browser does not support the video tag. I suggest you upgrade your browser.
<source alt="rendimento mensal garantido" src="{{asset('video/Mock-up.webm')}}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
<source alt="rendimento mensal garantido" src="{{asset('video/Mock-up.ogg')}}" type="video/ogg" />Your browser does not support the video tag. I suggest you upgrade your browser.
<source alt="rendimento mensal garantido" src="{{asset('video/Mock-up.ogv')}}" type="video/ogv" />Your browser does not support the video tag. I suggest you upgrade your browser.
</video>
<div class="poster hidden">
<img class="imgSlider" style="height=100% !important" src="{{ asset('img/slidehome.png')}}" alt="rendimento mensal garantido">
</div>
</div>
</div>
<div class="carousel-caption container">
<h1 class="title-slider">A sua presença<br>na internet <span class="textUnderlineBigSize">começa aqui.</span></h1>
<hr class="textUnderline ">
<h2 class="desc-slider"><p></p></h2>
<a class="page-scroll" href="#firstSection"><img src="{{ asset('img/setaBottom.png')}}" class="setaBottom" alt="rendimento mensal garantido"></a>
</div>
<div id="firstSection">
</div>
</div>                    
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h1 class="tituloCinza">{% trans %}development{% endtrans %}</h1>
</div>

{% for array in development %}
{% set a = 'development_' ~ loop.index0 ~ '.img'  %}
{% set b = 'development_' ~ loop.index0 ~ '.title'  %}
{% set c = 'development_' ~ loop.index0 ~ '.subtitle'  %}
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<a href="https://www.intouchbiz.com/pt/web-design-criatividade-oriasdginalidade-presenca-on-line-empresa-sites-personalizados-imagem-primeiro-contacto-visual">
<div class="servicosHome" style="background-image: url('{{ a|trans }}');">
<div class="servicosHomeHover">
<div class="row containerServicosHome">
<div class="wrapper efectLogo">
<svg viewBox="0 0 175 256" style="background-color:#ffffff00" xmlns="https://www.w3.org/2000/svg" width="175" height="256">
<g class="svgClass" stroke-width="1" fill="none">
<g>
<rect x="0.6" y="0.6" class="st0" width="45.6" height="45.6"/>
<path class="st0" d="M36,3.1c0.8,0,1.5,0.7,1.5,1.5C37.5,5.4,36.8,6,36,6c-0.8,0-1.5-0.7-1.5-1.5C34.6,3.8,35.2,3.1,36,3.1L36,3.1
z"/>
<path class="st0" d="M41.2,6c-0.8,0-1.5-0.7-1.5-1.5c0-0.8,0.7-1.5,1.5-1.5c0.8,0,1.5,0.7,1.5,1.5C42.7,5.4,42,6,41.2,6L41.2,6z"
/>
<path class="st0" d="M41.2,6"/>
<rect x="0.6" y="0.6" class="st0" width="45.6" height="8.1"/>
</g>
<g>
<rect x="0.5" y="0.5" class="st0" width="45.3" height="45.3"/>
<path class="st0" d="M35.7,3c0.8,0,1.5,0.7,1.5,1.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5C34.2,3.6,34.9,3,35.7,3L35.7,3z"
/>
<path class="st0" d="M40.8,5.9c-0.8,0-1.5-0.7-1.5-1.5C39.4,3.6,40,3,40.8,3c0.8,0,1.5,0.7,1.5,1.5C42.3,5.2,41.6,5.9,40.8,5.9
L40.8,5.9z"/>
<path class="st0" d="M40.8,5.9"/>
<rect x="4.8" y="12.9" class="st0" width="37.4" height="8.4"/>
<rect x="4.8" y="24" class="st0" width="14.5" height="18.3"/>
<rect x="22.2" y="24" class="st0" width="19.9" height="18.3"/>
<rect x="0.5" y="0.5" class="st0" width="45.3" height="8"/>
</g>
</g>
</svg>                                                        
</div>
<h4 class="servicosColorText servicosHomeTitle">{{ b|trans }}</h4><br>
<p class="servicosColorText  servicosHomeText">{{ c|trans }}</p>
</div>
</div>
<div class="servicosHomeHoverAmarelo">
<div class="containerServicosHomeSeta">
<img src="{{ asset('img/setaService.png')}}" class="setaService" alt="serviços criação de sites">
</div>
</div>
</div>
</a>
</div>
{% endfor %}

</div>
</div>
<section>
</section>
<section>
</section>
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
</div>
<a href="#">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 botaoVerde hvr-sweep-to-right">
<h1>{% trans %}more{% endtrans %}</h1>
</div>
</a>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
</div>
</div>
<section>
</section>
<section>
</section>
</section>
</div>
<div>
<section class="parallaxHome parallaxHomeMicrobiz">
</section>
</div>
<div class="container" id="funcionalidades">
<section>
</div>
</section>
<section>
</section>
</div>
</div>
</body>

</html>
{% endblock %}
