<div class="container-fluid" id="botfooter">
   <div class="container">
       <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="contact-title">{% trans %}contact{%endtrans%}</h3>
                        <div class="row">
                            <form>
                                <!-- Code that corresponds to the Name input field on the footer form -->
                                {{ form_start(form) }}

                                {{ form_end(form) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center" >
                   <h1 class="tituloCinza">{%trans%}follow_us{%endtrans%}</h1>
                    <a target="_blank">
                        <div class="lang-flag">
                            <img href="https://www.facebook.com/pages/category/Company/IntouchBiz-Solu%C3%A7%C3%B5es-Integradas-Unipessoal-Lda-219075511487928/" src="{{asset ('img/facebook_foot.png') }}"> &emsp;&emsp;
                            <img href="https://www.youtube.com/user/fpfsistemas" src="{{asset ('img/youtube_foot.png') }}" alt="youtube" id="youtube"> &emsp;&emsp;
                            <img href="https://www.instagram.com/intouchbiz/" src="{{ asset ('img/instagram_foot.png') }}" alt="instagram" id="instagram">
                        </div>
                    </a>
                </div>
            </div><br>
          
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="text-center" id="footer-text">
                    <a href="mailto:&#105;&#110;&#102;&#111;&#64;&#105;&#110;&#116;&#111;&#117;&#99;&#104;&#98;&#105;&#122;&#46;&#99;&#111;&#109;" target="_top" class="simpleLink">&#105;&#110;&#102;&#111;&#64;&#105;&#110;&#116;&#111;&#117;&#99;&#104;&#98;&#105;&#122;&#46;&#99;&#111;&#109;</a> | +351 282 353 994 | Rua Município S. Domingos Lote 2  | 8400 - 415 Lagoa | Algarve | Portugal  <br><br> Copyright &copy; 2019 <a href="https://www.intouchbiz.com/" class="simpleLink" target="_blank">IntouchBiz</a>.{% trans %}rights{% endtrans %}<br><br><br>                       
                    <a href="{{ path('map') }}">
                        {% trans %} site_map {% endtrans %}&emsp;&emsp;&emsp;&emsp;&emsp;
                    </a>
                    <a href="{{ path('terms') }}">
                        {% trans %}terms_and_conditions{% endtrans %}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    </a>
                    <a href="{{ path('safePayment') }}">
                        {% trans %}safe_payment{% endtrans %}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    </a>
                    <a href="{{ path('deliveries') }}">
                        {% trans %}deliveries_and_returns{% endtrans %}&emsp;&emsp;&emsp;&emsp;&emsp;
                    </a>
                    <a href="{{ path('weCall') }}">
                        {% trans %}we_call{% endtrans %}
                    </a>                                     
                </p>
            </div>
        </div>
   </div>
</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
    //submit the form
    $("form").submit(function(e) {
        e.preventDefault();//cancel event if cancelable
        var $this = $(this);
        console.log($(this).serialize())//converts all elements to a string
        //ajax request
        $.ajax({
            type: 'POST',
            url: 'error',
            data: $this.serialize(),//converts all elements to a string
            success: function(data) {

                //If status is 0 show an alert to fill the fields     
                if(data.status==0)
                {
                    alert("Falta preencher: " + data.data);
                }

                //If status is 1 the email is send sucessfuly and show an alert
                if(data.status == 1)
                {
                    alert("Sucesso");
                }   
            }
        });
    });
</script>